@import "Component.css";
@import "Font.css";

html {
  font-family: "Montserrat";

  color: var(--text-color);
  background-color: var(--bg-color);
  min-height: 100vh;

  overflow-y: auto;
}

#root {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
