.navbar {
  width: initial;
  display: flex;
  height: 1rem;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: var(--bg-color);
}
.navitem {
  display: flex;
}
.navitem-logo {
  height: 100%;
}

input.navitem {
  width: 50%;
  border: 1px solid var(--card-shadow);
  border-radius: 4px;
}
