.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.card-container-margin {
  width: 100%;
  margin: 32px;
}

a.card-container-margin {
  color: var(--text-color) !important;
  text-decoration: none;
}

.card {
  box-shadow: 0 4px 8px 0 var(--card-shadow);
  transition: 0.3s;
  padding: 42px 52px;
  max-width: 500px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 var(--card-shadow);
}
